*{ 
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}
.main{
    position: relative;
    display: flex;
 
}
.content{
    display: flex;
    flex-direction: column;
    height: 210px;
    
    padding-left: 50px;
    padding-right: 50px;
    align-items: center;
    
}
.ct{
    text-align: center;
    background-color: #EFEFEF;
    padding: 36px;

}
.ct1{
    font-weight: bold;
    padding: 10px;
}
.header{
    justify-content: center;
    align-items: center;
}
.header img{
    padding: 10px;
    
}
.item{
    padding: 20px;
}
.it{
    display: flex;
    padding: 10px;
    justify-content: center;
}
.items-title {
    font-weight: bold;
    padding: 10px;
}

.items-content  {
 display: flex;
}
.items-content img{
    width: 128px;
    height: 128px;
}

.sidebar{
    width: 60%;
    height: 115vh;
    color: #FFFFFF;
    background-color: #191718;
    line-height: 18.75px;
    
}
.items{
    border-bottom: 1px solid #5C5C5C;
    padding: 10px;
}
.items:hover{
    background-color: #5C5C5C;
}
.footer{
    border-top: 1px solid #DEDEDE
    ;
    width: 100%;
    height: 19px;
    color: #3E3E3E;
    
    
}
.footer p{
    margin-top: 10px;
    margin-left: 129px;
   
}

